<style>
    :root {
       --sticky-nav-top: 62px;
       --filter-height: 100px;
    }

    .sticky {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;
        left: 0;
        right: 0;
        display: block;
        z-index: 1;
        background: #222;
        color: #fdfdfd;
        padding: 10px 20px;
        top: var(--sticky-nav-top);
        margin-bottom: 0;
    }

    .site-header {
      position: fixed;
      width: 100%;
      height: 56px;
      z-index: 2;
    }

    .page-content {
      margin-top: 56px;
    }

    small a {
      color: lightblue !important
    }
    small {
      font-size: 0.8em;
    }

    #loading {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.8);
      z-index: 1000;
      text-align: center;
      padding-top: 20%;
    }

    .filters {
      position: fixed;
      left: 0;
      top: 0;
      padding: 1em;
      background: rgba(255, 255, 255, 0.8);
      z-index: 100;
      width: 200px;
      top: var(--sticky-nav-top);
      left: 32px;
    }

    #articles.oldest {
      display: flex;
      flex-direction: column-reverse;
    }

    .author-pub {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 1250px) {
      .filters {
        background: #fdfdfd;
        position: sticky;
        width: auto;
        border-bottom: 1px solid #ccc;
      }

      .sticky {
        top: calc(var(--filter-height) + var(--sticky-nav-top));
      }
    }
</style>

<div id='filters' class="filters">
  <label>Show articles 
    from <input id="min-year" type="number" min="1000" max="3000" placeholder="1970"/> 
    to <input id="max-year" type="number" min="1000" max="3000" placeholder="2024"/> 
    <select id="order">
      <option value="newest">newest first</option>
      <option value="oldest">oldest first</option>
    </select>
    with <input id='keyword' type="text" placeholder="keywords"/></label>
    <br>
    <button id="filter" disabled>Filter</button>
    <button onclick="location.reload()">Reset</button>
</div>

<div id="loading">Loading...</div>

{% assign articles = include.articles | sort: "date" | reverse %}

<div id="articles">
  {% for a in articles %}
    <article id="article-{{ a.id }}">
      <h3 class="sticky">
        <small>
            {% unless forloop.first %}
              {% assign prev = forloop.index0 | minus: 1 %}
              <a href="#article-{{ articles[prev].id }}">prev</a> |
            {% else %}
              <span style='cursor: not-allowed; opacity: 0.5;'>prev</span> |
            {% endunless %}

            {% unless forloop.last %}
              {% assign next = forloop.index0 | plus: 1 %}
              <a href="#article-{{ articles[next].id }}">next</a> |
            {% else %}
              <span style='cursor: not-allowed; opacity: 0.5;'>next</span> |
            {% endunless %}

            <a href="#top">top</a> |

            <a href="javascript:navigator.clipboard.writeText(`${location.href.replace(/#.*$/,'')}#article-{{ a.id }}`)" class='copy-link'>copy link</a>
        </small>
        <br>
        {{ a.date }} - {{ a.title }} 
      </h3>
      <div class="author-pub">
        <em>{{ a.author }},</em> <strong title="{{ a.pub | join: ', ' }}">{{ a.pub | join: ", " | truncate: 100 }}</strong>
      </div>
      <div>
        {% if a.text_cleaned %}
          {{ a.text_cleaned }}
          <details>
            <summary>original article</summary>
            {{ a.text }}
          </details>
        {% else %}
          {{ a.text }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const adjustFilterHeight = () => document.documentElement.style.setProperty('--filter-height', `${document.getElementById('filters').offsetHeight}px`);
    window.addEventListener('resize', adjustFilterHeight);
    adjustFilterHeight();

    const loading = document.getElementById('loading');
    loading.style.display = 'none';

    const minYear = document.getElementById('min-year');
    const maxYear = document.getElementById('max-year');
    const keyword = document.getElementById('keyword');
    const articles = document.querySelectorAll('article');
    const filter = document.getElementById('filter');
    const order = document.getElementById('order');
    const articleWrapper = document.getElementById('articles');

    const enable = () => filter.removeAttribute('disabled');

    for (const input of [minYear, maxYear, keyword])
      input.addEventListener('keydown', enable);
    order.addEventListener('change', enable);

    Array.from(document.getElementsByClassName('copy-link')).forEach(a => {
      a.addEventListener('click', () => {
        const origText = a.text;
        a.text = 'copied!';
        setTimeout(() => {
          a.text = origText
        }, 2000);
      });
    });

    filter.addEventListener('click', function() {
      filter.setAttribute('disabled', 'disabled');
      loading.style.display = 'block';

      const min = minYear.value && new Date(`${minYear.value}-01-01`).getTime();
      const max = maxYear.value && new Date(`${maxYear.value}-01-01`).getTime();
      const kw = keyword.value.toLowerCase();

      articleWrapper.className = order.value;

      let count = 0;
      const total = articles.length;

      articles.forEach(a => {
        setTimeout(() => {
          const date = new Date(a.querySelector('h3').textContent.split(' - ')[0]).getTime();
          const text = a.querySelector('div').textContent.toLowerCase();
          a.style.display = (date >= min || !min) && (date <= max || !max) && (text.includes(kw) || !kw) ? 'block' : 'none';
          count += 1;
          if (count === total) {
              loading.style.display = 'none';
          }
        }, 1);
      });
    });
  });
</script>
